<%- include('includes/head.ejs') %>

<div id="content_box">
  <div class="main_box">
    <!-- Intro -->
    <div id="title_box_result">
      <h1 class="title"><%= title %></h1>
      <hr class="line">
    </div>
    
    <!-- Form -->
    <div id="content_box_result">
      <form class="download_result" action="/download/quiz_result" method="POST">
        <label class="myLabel" for="quiz_id">
          Quiz Name
          <select class="myInput" id="quiz_id" name="quiz_id" placeholder="Quiz Name">
            <%for(let i=0;i<data.length;i++){%>
              <option value="<%= data[i].id %>"><%= data[i].name %></option>
            <%}%>
          </select>
        </label>

        <button class="button_download" type="submit">Download</button>
      </form>
    </div>
  </div>
</div>

<%- include('includes/foot.ejs') %>
