<!-- * HEAD * -->
<%- include('includes/user_layout/head.ejs') %>
<!-- * HEAD * -->

<body>
  <!-- * HEADER * -->
  <%- include('includes/user_layout/header.ejs') %>
  <!-- * HEADER * -->

  <main id="main">
    <div class="fixed_container">
      <section id="select">
        <%for(let i=0;i<data.length;i++){%>
          <a href=/e-library/option?id=<%=data[i].id%>&medicine_name=<%=data[i].medicine_name%>">
          <div class="info_box">
              <img class="image" src='/images/medicines/<%=data[i].medicine_name%>.png' alt="Medicine logo">
              <p class="title"><%=data[i].medicine_name%></p>
          </div>
          </a>
      <%}%>
      </section>
      </div>
  </main>

  <!-- * FOOTER * -->
  <%- include('includes/user_layout/footer.ejs') %>
  <!-- * FOOTER * -->
</body>

<!-- * FOOT * -->
<%- include('includes/user_layout/foot.ejs') %>
<!-- * FOOT * -->