<%- include('../includes/head.ejs') %>

<div id="content_box">
  <div class="main_box">
    <!-- Intro -->
    <div id="title_box_quiz_secondary">
      <div class="flex_box">
        <h1 class="title"><%=title%></h1>
        <a class="button_add" href="/question_list/<%= id %>">Question List</a>
      </div>
      <hr class="line" />
    </div>
    <!-- Intro -->

    <div id="content_box_question_add">
      <!-- ERROR -->
      <div id="error_half">
        <% if (messages.error) { %>
        <div class="message_error">Error! <%- messages.error %></div>
        <% } %> <% if (messages.success) { %>
        <div class="message_success">Success! <%- messages.success %></div>
        <% } %>
      </div>
      <!-- ERROR -->

      <!-- Form -->
      <form id="form" class="add_question" action="/quiz/add_question/<%= id %>" method="POST">
        <label class="label" for="question">
          Question
          <input class="input_text" id="question" name="question" type="text" placeholder="Input quiz question" required />
        </label>

        <div class="quiz_option_box">
          <label class="label" for="option_1">
            Option 1
            <input class="input_text" id="option_1" name="option_1" type="text" placeholder="Input option 1" required />
          </label>
          <label class="label" for="option_2">
            Option 2
            <input class="input_text" id="option_2" name="option_2" type="text" placeholder="Input option 2" required />
          </label>
          <label class="label" for="option_3">
            Option 3
            <input class="input_text" id="option_3" name="option_3" type="text" placeholder="Input option 3" />
          </label>
          <label class="label" for="option_4">
            Option 4
            <input class="input_text" id="option_4" name="option_4" type="text" placeholder="Input option 4" />
          </label>
        </div>

        <label class="label" for="answer">
          Answer
          <select class="input_select" id="answer" name="answer" required>
            <option value="0" selected>Select answer</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
          </select>
        </label>

        <button class="button_submit" type="submit">Submit</button>
      </form>
      <!-- Form -->
    </d>
  </div>
</div>

<%- include('../includes/foot.ejs') %>
