<%- include('../includes/head.ejs') %>

  <div id="content_box">
    <div class="main_box">
      <!-- Intro -->
      <div id="title_box_quiz_secondary">
        <div class="flex_box">
          <h1 class="title"><%=title%></h1>
          <div class="button_box">
            <a class="button_add" href="/quiz_list">Quiz List</a>
            <a class="button_add" style="margin-left: 8px;" href="/add_question/<%= id %>">Add Question</a>
          </div>
        </div>
        <hr class="line">
      </div>
      <!-- Intro -->

      <!-- ERROR -->
      <div id="error_full">
        <% if (messages.error) { %>
        <div class="message_error">Error! <%- messages.error %></div>
        <% } %> <% if (messages.success) { %>
        <div class="message_success">Success! <%- messages.success %></div>
        <% } %>
      </div>
      <!-- ERROR -->

      <!-- Table -->
      <main id="question_list">
        <table id="data_list" class="table datatable-basic table-bordered table-striped table-hover">
          <thead class="head">
            <tr>
              <th>Question</th>
              <th>Option 1</th>
              <th>Option 2</th>
              <th>Option 3</th>
              <th>Option 4</th>
              <th>Answer</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody class="body"></tbody>
        </table>
      </main>
      <!-- Table -->
    </div>
  </div>

  <script>
    const options = {
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
    };
  
    function changeDateTimeFormat(oldDateTime) {
      const dateTime = new Date(oldDateTime);
      const formattedDateTime = dateTime.toLocaleDateString("en-US", options);
      return formattedDateTime;
    }
  
    $(document).ready(function () {
        var currentURL = window.location.href;
        var parts = currentURL.split("/");
        var id = parts[parts.length - 1];
  
      function dataLoad() {
        const data = {
          id: id,
        };
        $("#data_list").DataTable({
          processing: true,
          serverSide: true,
          ordering: false,
          search: false,
          destroy: true,
          pageLength: 50,
          ajax: {
            url: "/question_list/data_list",
            type: "POST",
            datatype: "json",
            data: data,
          },
          createdRow: function (row, data, dataIndex) {},
          columns: [{ data: "question" }, { data: "option_1" }, { data: "option_2" }, { data: "option_3" }, { data: "option_4" }, { data: "answer" }, { data: "action" }],
        });
      }
  
      dataLoad();
  
      // Custom bootbox dialog with form
      $("#data_list").on("click", "#delete", function () {
        var delid = $(this).attr("data-delete-id");
          console.log(delid)
        bootbox.confirm({
          title: "Delete",
          message: "Do you want to delete?",
          buttons: {
            confirm: {
              label: "Yes",
              className: "btn-primary",
            },
            cancel: {
              label: "No",
              className: "btn-link",
            },
          },
          callback: function (result) {
            if (result) {
              $.ajax({
                type: "post",
                url: "/question_list/delete",
                data: { del_id: delid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                  if (data.success) {
                    window.location.href = "/question_list/" + id;
                  } else {
                    bootbox.alert({
                      title: "Delete Failed!",
                      message: data.message,
                    });
                  }
                },
              });
            }
          },
        });
      });
  
      $("#filter").click(function () {
        dataLoad();
      });
    });
  </script>
  
<%- include('../includes/foot.ejs') %>