<%- include('../includes/head.ejs') %>

  <div id="content_box">
    <div class="main_box">
      <!-- Intro -->
      <div id="title_box_quiz_secondary">
        <div class="flex_box">
          <h1 class="title"><%=title%></h1>
          <a class="button_add" href="/add_quiz">Add Quiz</a>
        </div>
        <hr class="line">
      </div>
      <!-- Intro -->

      <!-- ERROR -->
      <div id="error_full">
        <% if (messages.error) { %>
        <div class="message_error">Error! <%- messages.error %></div>
        <% } %> <% if (messages.success) { %>
        <div class="message_success">Success! <%- messages.success %></div>
        <% } %>
      </div>
      <!-- ERROR -->

      <!-- Table -->
      <main id="quiz_list">
        <table id="data_list" class="table datatable-basic table-bordered table-striped table-hover">
          <thead class="head">
            <tr>
              <th>Name</th>
              <th>Duration</th>
              <th>Category</th>
              <th>Start</th>
              <th>End</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody class="body"></tbody>
        </table>
      </main>
      <!-- Table -->
    </div>
  </div>
  
  <script>
    // var moment = require('moment');
    // moment().format();

    const options = {
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
    };
  
    function changeDateTimeFormat(oldDateTime) {
      console.log("PASS -> ", oldDateTime);
      const formattedDateTime = moment(oldDateTime).format('MMMM Do, YYYY h:mm:ss a');
      return formattedDateTime;
    }
  
    $(document).ready(function () {
      function dataLoad() {
        $("#data_list").DataTable({
          processing: true,
          serverSide: true,
          ordering: false,
          search: false,
          destroy: true,
          pageLength: 50,
          ajax: {
            url: "/quiz_list/data_list",
            type: "POST",
            datatype: "json",
          },
          createdRow: function (row, data, dataIndex) {
            $("td:eq(0)", row).html("<a href='/question_list/" + data.id + "'> " + data.name + "</a>");
            if (data.status === "Published") {
              $("td:eq(5)", row).html('<span class="badge badge-success">Published</span>');
            } else {
              $("td:eq(5)", row).html('<span class="badge badge-secondary">Unpublished</span>');
            }
            $("td:eq(3)", row).html("<span>" + moment(data.start_time).utcOffset(0).format('h:mm A - Do MMM, YYYY') + "</span>");
            $("td:eq(4)", row).html("<span>" + moment(data.end_time).utcOffset(0).format('h:mm A - Do MMM, YYYY') + "</span>");
          },
          columns: [{ data: "name" }, { data: "time_duration" }, { data: "category" }, { data: "start_time" }, { data: "end_time" }, { data: "status" }, { data: "action" }],
        });
      }
  
      dataLoad();
  
      // Custom bootbox dialog with form
      $("#data_list").on("click", "#delete", function () {
        var delid = $(this).attr("data-delete-id");
        bootbox.confirm({
          title: "Delete",
          message: "Do you want to delete?",
          buttons: {
            confirm: {
              label: "Yes",
              className: "btn-primary",
            },
            cancel: {
              label: "No",
              className: "btn-link",
            },
          },
          callback: function (result) {
            if (result) {
              $.ajax({
                type: "post",
                url: "/quiz_list/delete",
                data: { del_id: delid },
                datatype: "json",
                traditional: true,
                success: function (data) {
                  if (data.success) {
                    window.location.href = "/quiz_list";
                  } else {
                    bootbox.alert({
                      title: "Delete Failed!",
                      message: data.message,
                    });
                  }
                },
              });
            }
          },
        });
      });
  
      $("#filter").click(function () {
        dataLoad();
      });
    });
  </script>

<%- include('../includes/foot.ejs') %>
